@import url('https://fonts.googleapis.com/css?family=Raleway|Work+Sans');

p, input, b, a, ul, li, table, .btn, .form-group {
	font-family: 'Work Sans', sans-serif;
}

.container-fluid, .footer {
	font-family: 'Raleway', sans-serif;
}

.container-fluid {
	margin: 10px;
}

.footer {
	padding: 5px;
	height: 70px;
	background-color: grey; 
}