@import url('https://fonts.googleapis.com/css?family=Raleway|Work+Sans');

p, input, b, a, table, .btn, .form-group {
	font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

.form-login {
	margin: 10px;
}

.content-dashboard {
	margin: 10px;
}

.footer {
	padding: 5px;
	height: 50px;
	background-color: darkgrey; 
}